$max-width: null; // container max-width, default 1024px

$gutter: null; // gutter, default 1em
$num-columns: null; // number of columns, default 6

$dev: null; // false
$color-border: null; // #00BCD4

$medium: null; // 480px
$large: null; // 720px


// customize

$dev: true;
